node_modules/
dist/
.api/
.tmp/
.vs/
.vscode/
.history/
.api/
coverage/
build/
webpack.statistics.dev.html
Table/agGridViz/external/agGridIntegration.js
HierarchyFilter/agGridViz/external/agGridIntegration.js
*/external/stats.json
*/external/bifrostEditor.js
*/external/bifrostEditor.js.map
*/external/report.html
*/external/editor-bundle.js


powerbi-visuals-common/editor/dist/stats.json
powerbi-visuals-common/editor/dist/bifrostEditor.js
powerbi-visuals-common/editor/dist/bifrostEditor.js.map
powerbi-visuals-common/editor/dist/report.html
powerbi-visuals-common/editor/dist/editor-bundle.js

Editors/package.json
MultipleAxesChart/external/editor-bundle.js
Editors/build/editor-bundle.js
MultipleAxesChart/external/editor-bundle.js
*.hot-update.js
editor-bundle.js
editor-bundle.js.map
**/webpack.statistics.dev.html
**/webpack.statistics.prod.html

WaterfallDrilldownChart/editor
VennDiagram/editor
GanttChart/editor
AdvancedGauge/editor
linearGauge/editor
IBCSTable/editor
IBCSCharts/editor
MultipleAxesChart/webpack.statistics.dev.html
.npmrc
