/*
  Your use of the content in the files referenced here is subject to the terms of the license at https://aka.ms/fabric-assets-license
*/
@font-face {
  font-family: 'FabricMDL2Icons-0';
  src: url('../fonts/fabric-icons-0-c6483e24.woff') format('woff');
}

.ms-Icon {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-family: 'FabricMDL2Icons-0';
  font-style: normal;
  font-weight: normal;
  speak: none;
}

.ms-Icon--ChevronLeft:before { content: "\E76B"; }
.ms-Icon--ChevronLeftMed:before { content: "\E973"; }
.ms-Icon--ChevronLeftSmall:before { content: "\E96F"; }
.ms-Icon--ChevronRight:before { content: "\E76C"; }
.ms-Icon--ChevronRightMed:before { content: "\E974"; }
.ms-Icon--ChevronRightSmall:before { content: "\E970"; }
