/**********************
CSS Section Starts
**********************/
#tabs_container0,
#tabs_container1,
#tabs_container2 {
  width: 33.3%;
  z-index: 1000;
  /* min-height: 100% !important; */
  height: 100%;
  display: inline-block;
  float: left;
  height: calc(100% - (100px));
  padding: 0 10px;
}

.tabs,
.tabs1 {
  width: 100%;
  display: inline-block;
  z-index: 1000;
  min-height: 100% !important;
  height: 100%;
}
#tab1.active,
#tab2.active {
  display: block !important;
  z-index: 1000 !important;
  height: calc(100% - (40px));
}
#vbi-error-indicator {
  background: #fff;
}
#tab1,
#tab2 {
  display: none;
  height: 100%;
  width: 100%;
}
.tabs #tabs-list,
.tabs1 #tabs-list {
  display: flex;
  justify-content: center;
  height: 40px;
  margin: 0;
  z-index: 1050;
  width: 100%;
  background: #fff;
  padding-left: 0;
}
.tabs #tabs-list li,
.tabs1 #tabs-list li {
  float: left;
  margin: 0px;
  margin-right: 2px;
  padding: 10px 5px;
  text-align: center;
  color: #747474;
  opacity: 0.7 !important;
}
.tabs #tabs-list li:hover,
.tabs1 #tabs-list li:hover {
  cursor: pointer;
}
.tabs #tabs-list li.active,
.tabs1 #tabs-list li.active {
  border-bottom: 2px solid #22a9e2;
  font-weight: 600;
  opacity: 1 !important;
}

#chartcontainer {
  width: 75%;
  display: flex;
  height: 100%;
  flex-direction: column;
  padding-bottom: 0;
  position: relative;
}

div[class*="subcontainerOne-"],
div[class*="titledivsub-"] {
  height: 100%;
  width: 100%;
  border-top: 0 solid transparent;
  display: table;
}

div[class*="titledivsub-"] {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container,
.wrapper,
.wrapper1 {
  height: 100%;
  width: 100%;
}
#titlediv,
#titlediv1 {
  display: flex;
  height: 100%;
  justify-content: space-between;
  flex-direction: column;
  padding-top: 34px;
  width: 25%;
  float: left;
  padding-left: 10px;
}

.fade-out {
  opacity: 0.4;
}
.header {
  display: flex;
  justify-content: space-around;
  z-index: 1000;
  width: 100%;
}
#titlediv p,
#titlediv1 {
  margin: 0;
  white-space: normal;
}

.container,
#charttitle {
  background: #fff;
}
.container {
  padding: 0 0 40px 0 !important;
}
#spanpercentvalue {
  margin-left: 7px;
}
.canvas,
.canvas1 {
  width: 50%;
  height: 100%;
  position: absolute;
  background-clip: content-box;
  padding: 25px;
  padding-bottom: 0 !important;
}
.canvas1 {
  right: 0%;
  width: 55% !important;
}
.headertext,
.headertext2 {
  text-align: center;
  color: #b9b9b9;
  padding-top: 10px;
  height: 35px;
}
.headertext2 {
  margin-left: 25px;
}
.versioncontainer {
  display: flex;
  justify-content: space-evenly;
  z-index: 1050;
  padding-top: 20px;
}
.highcharts-container {
  display: table-cell;
  vertical-align: middle;
}

/**********************
Slider css
**********************/

.mySlides #tabs_container2,
.mySlides #tabs_container1,
.mySlides #tabs_container0 {
  width: 100% !important;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -22px;
  font-size: 21px;
  color: #848484;
  z-index: 1050;
}
.prev {
  left: 0;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover,
.prev:active,
.next:active {
  color: #8e8e8e !important;
  text-decoration: none !important;
}

.mySlides .container {
  display: flex;
}
.mySlides #titlediv {
  height: unset !important;
}
#slideshowcontainer {
  padding: 0 30px;
  width: 100%;
  min-height: 100% !important;
  height: 100%;
  background: #efefef;
}
.mySlides,
.slideshowcontainer.scrollbar {
  width: 100%;
  min-height: 100% !important;
  height: 100%;
  background: #efefef;
  padding: unset !important;
}
.slideshowcontainer.Slider{
  padding: unset !important;
}
/**********************
Scrollbar css
**********************/

.slideshowcontainer.scrollbar.mid {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
  overflow-y: hidden;
}
.slideshowcontainer.scrollbar.mid #tabs_container2,
.slideshowcontainer.scrollbar.mid #tabs_container1,
.slideshowcontainer.scrollbar.mid #tabs_container0 {
  width: 50% !important;
}
.slideshowcontainer.scrollbar #tabs_container2,
.slideshowcontainer.scrollbar #tabs_container1,
.slideshowcontainer.scrollbar #tabs_container0 {
  width: 100% !important;
  float: unset !important;
}
.slideshowcontainer.scrollbar {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  white-space: nowrap;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  height: 6px;
  width: 4px;
  border: 1px solid #d5d5d5;
}
::-webkit-scrollbar-thumb:vertical {
  background: #b6b6b6bf;
  border-radius: 10px;
}
/**********************
Header Bar css
***********************/

.account_details {
  width: 100%;
}
.account_details div {
  margin-right: 20px;
  display: inline-block;
}

#headerbar p {
  margin: 0;
}
/**********************
Header Bar Accordion css
***********************/
#headerbar {
  padding-left: 10px;
  margin-bottom: 10px;
}
#headerbar .ms-Icon--ChevronDownSmall:after {
  content: "\E96E";
  font-family: "FabricMDL2Icons-0" !important;
  font-size: 14px;
  margin-left: 20px;
}
#headerbar .ms-Icon--ChevronUpSmall:after {
  content: "\E96D";
  font-family: "FabricMDL2Icons-0" !important;
  font-size: 14px;
  margin-left: 20px;
}
#headerbar .ms-Icon--ChevronRightSmall:after {
  content: "\E970";
  font-family: "FabricMDL2Icons-0" !important;
  font-size: 14px;
  margin-left: 20px;
}
#headerbar .ms-Icon--ChevronRightSmall:before {
  content: " ";
}
